/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to right bottom, #c0b807, #c8ca52, #d1db82, #deeaaf, #eff9da); */
    /* background-image: linear-gradient(to right bottom, #c0b807, #a8d05b, #9be398, #a3f2cb, #c3fcf1); */
    background-image: linear-gradient(to right bottom, #c0b807, #89b13e, #5ea45e, #479472, #4b8077);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: top; */
}

.settings-container {
    width: min(90%, 900px);
    /* height: 60%; */
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 30px;
    margin-top: 10%;
}

.player-selection-area {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.player-selection-area > .divider {
    width: 1px;
    height: 100%;
    background-color: #4C4816;
    background-color: #941282;

    justify-self: center;
    align-self: center;
}

.player-selection-area > .player-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 0.5fr 1fr 1fr 1fr 1fr;
    
    /* border-radius: 15px; */
    /* box-shadow: 0px 0px 10px 0px #4C4816; */
    padding: 10px;
    gap: 10px;
}

.player-selection-area > .player-selection > div {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-selection-area > .player-selection.one > .player-icon,
.player-selection-area > .player-selection.two > .player-icon {
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    /* animation: float 1s ease-in-out infinite; */
}

.player-selection-area > .player-selection.one:hover > .player-icon,
.player-selection-area > .player-selection.two:hover > .player-icon {
    /* transform: scale(1.2); */
    /* transform: translatey(0px); */
    /* animation: float 1s ease-in-out infinite; */
    transform: rotate(360deg) scale(1.2);
    box-shadow: 0px 0px 5px 0px #4C4816;
}

.player-selection-area > .player-selection > div:not(:first-child) {
    border: 0.5px hsl(56, 55%, 19%) solid;
    box-shadow: 0px 0px 5px 0px #4C4816;
    background-color: hsla(81, 94%, 93%, 0.200);
    cursor: pointer;
}

.player-selection-area > .player-selection > div:not(:first-child):hover {
    background-color: hsla(81, 94%, 93%, 0.400);
}

.player-selection-area > .player-selection > div:not(:first-child):active {
    background-color: hsla(81, 94%, 93%, 0.600);
}

.settings-container > .start-button {
    background-color: hsl(55, 60%, 48%);
    border-radius: 5px;
    border: 0.5px #4C4816 solid;
    box-shadow: 0px 0px 5px 0px #4C4816;
    cursor: pointer;
}

.settings-container > .start-button:hover {
    background-color: hsl(55, 70%, 48%);
}

.settings-container > .start-button:active {
    background-color: hsl(55, 80%, 48%);
}

.player-selection-area > .player-selection.one > div.active {
    border: 0.5px rgb(255,255,0) solid;
    box-shadow: 0px 0px 5px 0px rgb(255,255,0);
}

.player-selection-area > .player-selection.two > div.active {
    border: 0.5px rgb(0,255,0) solid;
    box-shadow: 0px 0px 5px 0px rgb(0,255,0);
}

.player-selection-area > .player-selection > .player-icon {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    justify-self: center;
}

.player-selection-area > .player-selection > .human-option {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    width: 100%;
}

.player-selection-area > .player-selection > .computer-option {
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    justify-self: center;
    width: 100%;
}

.player-selection-area > .player-selection > .difficulty.easy {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
    justify-self: center;
    width: 100%;
}

.player-selection-area > .player-selection > .difficulty.hard {
    grid-column: 2 / 6;
    grid-row: 6 / 7;
    justify-self: center;
    width: 100%;
}

.player-selection-area > .player-selection.one > .player-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,0)' viewBox='0 0 24 24'%3E%3Cpath d='M18,4C16.29,4 15.25,4.33 14.65,4.61C13.88,4.23 13,4 12,4C11,4 10.12,4.23 9.35,4.61C8.75,4.33 7.71,4 6,4C3,4 1,12 1,14C1,14.83 2.32,15.59 4.14,15.9C4.78,18.14 7.8,19.85 11.5,20V15.72C10.91,15.35 10,14.68 10,14C10,13 12,13 12,13C12,13 14,13 14,14C14,14.68 13.09,15.35 12.5,15.72V20C16.2,19.85 19.22,18.14 19.86,15.9C21.68,15.59 23,14.83 23,14C23,12 21,4 18,4M4.15,13.87C3.65,13.75 3.26,13.61 3,13.5C3.25,10.73 5.2,6.4 6.05,6C6.59,6 7,6.06 7.37,6.11C5.27,8.42 4.44,12.04 4.15,13.87M9,12A1,1 0 0,1 8,11C8,10.46 8.45,10 9,10A1,1 0 0,1 10,11C10,11.56 9.55,12 9,12M15,12A1,1 0 0,1 14,11C14,10.46 14.45,10 15,10A1,1 0 0,1 16,11C16,11.56 15.55,12 15,12M19.85,13.87C19.56,12.04 18.73,8.42 16.63,6.11C17,6.06 17.41,6 17.95,6C18.8,6.4 20.75,10.73 21,13.5C20.75,13.61 20.36,13.75 19.85,13.87Z' /%3E%3C/svg%3E");
    width: 150px;
    height: 150px;

}

.player-selection-area > .player-selection.two > .player-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,255,0)' viewBox='0 0 24 24'%3E%3Cpath d='M12,8L10.67,8.09C9.81,7.07 7.4,4.5 5,4.5C5,4.5 3.03,7.46 4.96,11.41C4.41,12.24 4.07,12.67 4,13.66L2.07,13.95L2.28,14.93L4.04,14.67L4.18,15.38L2.61,16.32L3.08,17.21L4.53,16.32C5.68,18.76 8.59,20 12,20C15.41,20 18.32,18.76 19.47,16.32L20.92,17.21L21.39,16.32L19.82,15.38L19.96,14.67L21.72,14.93L21.93,13.95L20,13.66C19.93,12.67 19.59,12.24 19.04,11.41C20.97,7.46 19,4.5 19,4.5C16.6,4.5 14.19,7.07 13.33,8.09L12,8M9,11A1,1 0 0,1 10,12A1,1 0 0,1 9,13A1,1 0 0,1 8,12A1,1 0 0,1 9,11M15,11A1,1 0 0,1 16,12A1,1 0 0,1 15,13A1,1 0 0,1 14,12A1,1 0 0,1 15,11M11,14H13L12.3,15.39C12.5,16.03 13.06,16.5 13.75,16.5A1.5,1.5 0 0,0 15.25,15H15.75A2,2 0 0,1 13.75,17C13,17 12.35,16.59 12,16V16H12C11.65,16.59 11,17 10.25,17A2,2 0 0,1 8.25,15H8.75A1.5,1.5 0 0,0 10.25,16.5C10.94,16.5 11.5,16.03 11.7,15.39L11,14Z' /%3E%3C/svg%3E");
    width: 150px;
    height: 150px;
}

.start-button {
    width: 300px;
    height: 100px;
    justify-self: center;
}

.gameboard-container {
    min-height: 250px;
    aspect-ratio: 1/1;
    height: 55%;
    /* background-color: rgb(25, 25, 25); */
    display: grid;
    /* gap: 1px; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}

.tile {
    /* background-color: antiquewhite; */
    text-align: center;
    font-size: 80px;
    display: grid;
    place-items: center;
    cursor: pointer;
    /* border: 0.5px solid #4C4816; */
    border: 0.5px solid #941282;

}

.tile[tile_num='0'],
.tile[tile_num='1'],
.tile[tile_num='2'] {
    border-top: 0;
}

.tile[tile_num='0'],
.tile[tile_num='3'],
.tile[tile_num='6'] {
    border-left: 0;
}

.tile[tile_num='2'],
.tile[tile_num='5'],
.tile[tile_num='8'] {
    border-right: 0;
}

.tile[tile_num='6'],
.tile[tile_num='7'],
.tile[tile_num='8'] {
    border-bottom: 0;
}

.tile[tile_value='x'] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,0)' viewBox='0 0 24 24'%3E%3Cpath d='M18,4C16.29,4 15.25,4.33 14.65,4.61C13.88,4.23 13,4 12,4C11,4 10.12,4.23 9.35,4.61C8.75,4.33 7.71,4 6,4C3,4 1,12 1,14C1,14.83 2.32,15.59 4.14,15.9C4.78,18.14 7.8,19.85 11.5,20V15.72C10.91,15.35 10,14.68 10,14C10,13 12,13 12,13C12,13 14,13 14,14C14,14.68 13.09,15.35 12.5,15.72V20C16.2,19.85 19.22,18.14 19.86,15.9C21.68,15.59 23,14.83 23,14C23,12 21,4 18,4M4.15,13.87C3.65,13.75 3.26,13.61 3,13.5C3.25,10.73 5.2,6.4 6.05,6C6.59,6 7,6.06 7.37,6.11C5.27,8.42 4.44,12.04 4.15,13.87M9,12A1,1 0 0,1 8,11C8,10.46 8.45,10 9,10A1,1 0 0,1 10,11C10,11.56 9.55,12 9,12M15,12A1,1 0 0,1 14,11C14,10.46 14.45,10 15,10A1,1 0 0,1 16,11C16,11.56 15.55,12 15,12M19.85,13.87C19.56,12.04 18.73,8.42 16.63,6.11C17,6.06 17.41,6 17.95,6C18.8,6.4 20.75,10.73 21,13.5C20.75,13.61 20.36,13.75 19.85,13.87Z' /%3E%3C/svg%3E");
}


.tile[tile_value='o'] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(0,255,0)' viewBox='0 0 24 24'%3E%3Cpath d='M12,8L10.67,8.09C9.81,7.07 7.4,4.5 5,4.5C5,4.5 3.03,7.46 4.96,11.41C4.41,12.24 4.07,12.67 4,13.66L2.07,13.95L2.28,14.93L4.04,14.67L4.18,15.38L2.61,16.32L3.08,17.21L4.53,16.32C5.68,18.76 8.59,20 12,20C15.41,20 18.32,18.76 19.47,16.32L20.92,17.21L21.39,16.32L19.82,15.38L19.96,14.67L21.72,14.93L21.93,13.95L20,13.66C19.93,12.67 19.59,12.24 19.04,11.41C20.97,7.46 19,4.5 19,4.5C16.6,4.5 14.19,7.07 13.33,8.09L12,8M9,11A1,1 0 0,1 10,12A1,1 0 0,1 9,13A1,1 0 0,1 8,12A1,1 0 0,1 9,11M15,11A1,1 0 0,1 16,12A1,1 0 0,1 15,13A1,1 0 0,1 14,12A1,1 0 0,1 15,11M11,14H13L12.3,15.39C12.5,16.03 13.06,16.5 13.75,16.5A1.5,1.5 0 0,0 15.25,15H15.75A2,2 0 0,1 13.75,17C13,17 12.35,16.59 12,16V16H12C11.65,16.59 11,17 10.25,17A2,2 0 0,1 8.25,15H8.75A1.5,1.5 0 0,0 10.25,16.5C10.94,16.5 11.5,16.03 11.7,15.39L11,14Z' /%3E%3C/svg%3E");
}

svg path {
    fill: red !important;
}

.endgame {
    display: none;
    width: 200px;
    height: 100px;
    background-color: rgba(66, 66, 66, 0.354);
    position: absolute;
    text-align: center;
}




@keyframes float {
    0% {
      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
      transform: translatey(0px);
    }
    50% {
      /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
      transform: translatey(-10px);
    }
    100% {
      /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
      transform: translatey(0px);
    }
  }