/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container {
    width: 90%;
    height: 90%;
    background-color: rgb(223 255 0);
    display: grid;
}

.player-selection-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.gameboard-container {
    min-height: 250px;
    aspect-ratio: 1/1;
    height: 70%;
    background-color: rgb(223 255 0);
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.tile {
    background-color: antiquewhite;
}

.tile.PlayerOne {
    background-color: red;
}

.tile.PlayerTwo {
    background-color: rgb(55, 0, 255);
}